a:hover {
 text-decoration: underline;
}

a {
 text-decoration: none;
 font-weight: bold;
 color: #1E3B66;
}



body {
 font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 font-size: 12px;
 color: #292827;
 margin-left:10px; margin-right:20px; margin-top:15px; margin-bottom:50px }
}

p, td {
 font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 font-size: 12px;
 color: #292827;
}

h1 {
 font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 font-size: 18px;
 font-weight: bold;
 color: #292827;
}

h2 {
 font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 font-size: 16px;
 font-weight: bold;
 color: #292827;
}

h3 {
 font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 font-size: 14px;
 font-weight: bold;
 color: #292827;
}

h4, h5 {
 font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 font-size: 12px;
 font-weight: bold;
 color: #292827;
}

#data {
 font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 font-size: 14px;
 font-weight: bold;
 color: #292827;
}

#data_small {
 font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
 font-size: 11px;
 color: #292827;
}
